*.1
*~
.*.swp
.DS_Store
.dirstamp
/ChangeLog
/INSTALL
/Makefile
/Makefile.in
/README
/aclocal.m4
/bin
/config.h
/config.h.in
/config.log
/config.status
/configure
/specl-*.rockspec
/specl-*.tar.gz
/stamp-h1
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/luarocks-config.lua
build-aux/missing
specs/specl
