*~
*.1
*.1.in
*.o
*.lo
*.la
*.so
*.html
.DS_Store
.deps
.dirstamp
.libs
/release-notes-*
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h.in
/configure
/config.h
/config.log
/config.lt
/config.status
/libtool
/specl-*.rockspec
/specl-*.tar.gz
/stamp-h1
