*.1
*~
.*.swp
.DS_Store
.dirstamp
.gitmodules
/ChangeLog
/INSTALL
/Makefile
/Makefile.in
/README
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/specl
/specl-*.rockspec
/specl-*.tar.gz
/stamp-h1
GNUmakefile
Makefile.am
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/do-release-commit-and-tag
build-aux/gitlog-to-changelog
build-aux/install-sh
build-aux/luarocks-config.lua
build-aux/missing
build-aux/mkrockspecs
build-aux/release.mk
build-aux/rockspecs.mk
build-aux/sanity.mk
build-aux/specl.mk
build-aux/update-copyright
lib/specl/version.lua
m4/
travis.yml.in
